@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

body {  
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1000px;
    font-family: 'Merriweather', serif;
    color: #333; /* Default text color */
    background-color: #f8f8f8; /* Default background color */
}

/* Header */

header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    grid-column: span 2;
    height: 100px;
}

header img {
    height: 100px;
}

.social-icons {
    margin-left: auto;
}

.social-icons img{
    height: 45px;
    padding: 20px;
}

.join-button {
    padding: 50px;
    text-decoration: none;
    background-color: #22577A;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Open Sans'; 
    display: inline-block;
    margin-left:auto;
}

/* Navigation */

.navigation{
    display: flex;
    grid-column: span 2;
    background-color: #80ED99;
    height: 60px;
}

.navigation ul {
    display: flex; /* Torna a lista horizontal */
    flex-direction: row;
    align-items: center; /* Adiciona espaçamento uniforme em torno dos itens */
    list-style: none;
}

.navigation a {
    list-style: none;
    padding: 50px;
}

/* Hero img */

#hero {
    grid-column: span 2;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}   

/* cards */
.content  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.card {
    flex: 1 1 300px; /* Flex properties to control card size */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card h2 {
    text-align: center;
}

.card p {
    text-align: center;
}

/*images*/
main {
    display:flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px
}
/* footer*/

footer {
    grid-column: span 2;
    text-align: center;
}