@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

/* Header Styles */
.main-header {
    background-color: #80ED99;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* Adjust as needed */
}

.main-nav {
    flex: 1; /* Take up remaining space */
    text-align: center; /* Center the content */
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block; /* Make the list items inline-block */
}

.main-nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav ul li:first-child {
    margin-left: 0;
}

.main-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}


/* Hero Section Styles */
#hero {
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#hero h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em; /* Tamanho da fonte */
    text-align: center;
    
}
/* Card Styles */
.card {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}

/* cards */
.content  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.card {
    flex: 1 1 300px; /* Flex properties to control card size */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card h2 {
    text-align: center;
}

.card p {
    text-align: center;
}

/*images*/
main {
    display:flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px
}
/* footer*/

footer {
    grid-column: span 2;
    text-align: center;
}