@media (max-width:1000px) {

    .main-index {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; /* Distribui os elementos igualmente ao longo do contêiner */
    }
   
    .main-discover {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .grid {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .main-form{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .main-header {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .joao {
        font-size: 1em; /* Tamanho da fonte padrão */
        text-align: center; /* Centraliza o texto horizontalmente */
        padding-bottom: 8px;
        margin: auto;
        
    }
}

