@media screen and (min-width: 951px) {
    
   
    nav ul {
        display: flex;
       
    }

    nav li {
        margin-right: 80px;
      }

    main{
        max-width: 1200px;;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin: 0 auto;
    }
    
    h2{
        grid-column: span 2;
    }
}